Question 1

In [5]:
n = 0
while n < 10:
    print(n)
    n += 1
    if n == 5:
        break

0
1
2
3
4

Question 2

In [6]:
n = 0
while n < 5:
    print(n)
    n += 1
else:
    print (n, "is not less than 5")

0
1
2
3
4
5 is not less than 5

Question 3

In [2]:
for i in ['mango', 'peach', 'apple', 'banana']:
    if 'apple' in i:
        print (i, "is really a fruit?")
        break
    else:
        print ("I Like ", i)

I Like  mango
I Like  peach
apple is really a fruit?

Question 4

In [12]:
n = 30
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1
    
print("The sum is", sum)

The sum is 465

Question 5

In [18]:
grade = 55
if grade >= 90:
    print ("Grade is an A")
elif grade in range(80, 91):
    print ("Grade is a B")
elif grade in range(70, 81):
    print ("Grade is a C")
elif grade in range(60, 71):
    print ("Grade is a D")
else:
    print ("Grade is a F")

Grade is a F

Question 6

Question 6.1

In [24]:
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
for name, grade in marks.items():
    print(f'Grade for {name} is {grade}')

Grade for Andy is 88
Grade for Amy is 66
Grade for James is 90
Grade for Jules is 55
Grade for Arthur is 77

Question 6.2

In [38]:
total = 0
count = 0
for name, grade in marks.items():
    total += grade
    count += 1
print(f"Class average is: {total / count}")
grades = marks.values()
maxgrade=max(grades)
print('The maximal grade is:', maxgrade)
mingrade = min(grades)
print('The minimal grade is:', mingrade)

Class average is: 75.2
The maximal grade is: 90
The minimal grade is: 55

Question 6.3

In [43]:
for name, grade in marks.items():
    if 'J' in name:
        break
    print(name, ', ', grade)

Andy ,  88
Amy ,  66

Question 6.4

In [44]:
for name, grade in marks.items():
    if 'J' in name:
        continue
    print(name, ', ', grade)

Andy ,  88
Amy ,  66
Arthur ,  77